.HomePage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;

}

.hero-text{
    color: #037FFF;
    transition: all .7s ease-in-out;
    text-align: center;
    font-size: 2rem;
    span{
        color: rgb(0, 35, 70);
    }
}
.h-sub-text{
    transition: all .7s ease-in-out;
    text-align: center;
    color: #037FFF;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    .icon-holder{
        margin-right: 1rem;
        .icon{
            font-size: 2rem;
            transition: all .7s ease-in-out;
            color: rgb(0, 35, 70);
            transition: all .4s ease-in-out;
                    
        }
        .fb:hover{
            color: blue;
        }
        .gh:hover{
            color: purple;
        }
        .li:hover{
            color: rgb(19, 19, 117);
        }
        .tw:hover{
            color: rgba(40, 115, 255, 0.822);
        }
    }
}

